#button {
  all: unset;
  cursor: pointer;
  margin: 1rem;
  padding: 0.3rem 1rem;
  background-color: var(--clr-background-light);
  border-radius: 0.3rem;
  display: flex;
  align-items: center;
}

#button:hover {
  background-color: var(--clr-background-dark);
}

#button:focus {
  box-shadow: 0 0 0 3px rgba(66, 153, 225, 0.6);
}