.container {
  min-height: 70vh;
  padding: 3rem 0rem;
}

.start_section {
}

.img_container {
  display: none;
}

@media screen and (min-width: 800px) {
  .container {
    width: 100%;
    display: inline-block;
  }

  .img_container {
    display: block;
  }

  .start_section {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
}
