.container {
  min-height: 70vh;
  padding: 3rem 0rem;
}

.start_section {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 0rem 5rem 0rem;
}

.start_title_container {
  line-height: 1.2rem;
}

.start_content_container {
  margin-top: 2rem;
}

.img_container {
  display: none;
}

.bar {
  width: 64px;
  height: 6px;
  border-radius: 10px;
  background: linear-gradient(
    270deg,
    rgb(19, 173, 199) 0%,
    rgb(148, 93, 214) 100%
  );
}

.skills_section {
  padding: 1rem 0rem 5rem 0rem;
}

.projects_section {
  padding: 1rem 0rem 5rem 0rem;
}

.journey_section {
  padding: 1rem 0rem 5rem 0rem;
}

@media screen and (min-width: 800px) {
  .container {
    width: 100%;
    display: inline-block;
  }

  .img_container {
    display: block;
  }

  .start_title_container {
    line-height: 0.5rem;
  }
}
