.projects_section {
  padding: 1rem 0rem 5rem 0rem;
}


.last_section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.previousIcon {
  font-size: 1.4rem;
}

.previousIcon * {
  stroke: #fff
}