.text {
  color: var(--clr-gray-600);
}

.subtitle {
  color: var(--clr-secondary);
}

.title {
  color: var(--clr-primary);
  line-height: 1.2rem;
}

@media screen and (min-width: 800px) {
  .title {
    line-height: 0.3rem;
  }
}
